.modal-stream-header {
    background-color: #29394A;
    color: white;
}

.modal-title {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.close {
    filter: invert(100%) !important;
}

.register-text {
    margin-left: 5px;
}